<%= f.field_container :retailer_type_id do %>
  <%= f.label :retailer_type_id, "Type" %><br />
  <%= f.select :retailer_type_id, Spree::RetailerType.to_options, { :include_blank => true }, { :class => 'title' } %>
  <%= error_message_on :retailer, :retailer_type_id %>
<% end %>

<%= f.field_container :name do %>
  <%= f.label :name, "Name" %><br />
  <%= f.text_field :name, :class => 'title' %>
  <%= error_message_on :retailer, :name %>
<% end %>

<%= f.field_container :address do %>
  <%= f.label :address, "Address" %><br />
  <%= f.text_field :address, :class => 'text' %>
  <%= error_message_on :retailer, :address %>
<% end %>

<%= f.field_container :address2 do %>
  <%= f.label :address2, "Address (cont)" %><br />
  <%= f.text_field :address2, :class => 'text' %>
  <%= error_message_on :retailer, :address2 %>
<% end %>

<%= f.field_container :city do %>
  <%= f.label :city, "City" %><br />
  <%= f.text_field :city, :class => 'text' %>
  <%= error_message_on :retailer, :city %>
<% end %>

<%= f.field_container :state do %>
  <%= f.label :state, "State" %><br />
  <% if @retailer.new_record? || @retailer.country == "United States" %>
    <%= f.select :state, @states %>
  <% else %>
    <%= f.text_field :state, :class => 'text' %>
  <% end %>
  <%= error_message_on :retailer, :state %>
<% end %>

<%= f.field_container :zipcode do %>
  <%= f.label :zipcode, "Zip" %><br />
  <%= f.text_field :zipcode, :class => 'text' %>
  <%= error_message_on :retailer, :zipcode %>
<% end %>

<%= f.field_container :country do %>
  <%= f.label :country, "Country" %><br />
  <%= f.select :country, @countries, :selected => @retailer.new_record? ? "United States" : @retailer.country  %>
  <%= error_message_on :retailer, :country %>
<% end %>


<%= f.field_container :phone do %>
  <%= f.label :phone, "Phone" %><br />
  <%= f.text_field :phone, :class => 'text' %>
  <%= error_message_on :retailer, :phone %>
<% end %>

<%= f.field_container :email do %>
  <%= f.label :email, "Email" %><br />
  <%= f.email_field :email, :class => 'text' %>
  <%= error_message_on :retailer, :email %>
<% end %>

<%= f.field_container :url do %>
  <%= f.label :url, "Website URL" %><br />
  <%= f.text_field :url, :class => 'text' %>
  <%= error_message_on :retailer, :url %>
<% end %>

<% if @retailer.has_logo? %>
  <%= f.field_container :logo do %>
    <p class="current-logo">
      <%= label_tag 'current_logo', "Current Logo:" %><br />
      <%= image_tag @retailer.logo.url(:thumb) %>
    </p>
    <%= f.label :logo, "Replace Image:" %><br />
    <%= f.file_field :logo, :class => 'file' %>
    <%= error_message_on :retailer, :logo %>
  <% end %>
<% else %>
  <%= f.field_container :logo do %>
    <%= f.label :logo, "Logo Image:" %><br />
    <%= f.file_field :logo, :class => 'file' %>
    <%= error_message_on :retailer, :logo %>
  <% end %>
<% end %>

<script type="text/javascript">
//<![CDATA[

  $(document).ready(function() {
    $('#retailer_country').change(function(evt) {
	    if (this.options[this.selectedIndex].value == 'United States') {
	      $('#retailer_state').remove();
        $('#retailer_state_select').attr('id', 'retailer_state').show();
	    } else {    
  	    var p = $('#retailer_state').hide().attr('id', 'retailer_state_select').removeAttr('name').parent('p');
  	    p.append('<input type="text" name="retailer[state]" id="retailer_state" class="text" />');
  	  }	    
    });
  });
   
//]]>
</script>
