<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to "New Retailer", new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1>Listing Retailers</h1>

<table class="index">
  <thead>
	<tr>
    	<th><%= sort_link @search, :name %></th>
    	<th><%= sort_link @search, :retailer_type %></th>
    	<th><%= sort_link @search, :state %></th>
    	<th><%= sort_link @search, :email %></th>
    	<th><%= sort_link @search, :phone %></th>
    	<th><%= t("action") %></th>
	</tr>
  </thead>
  <tbody>
    <%- @collection.each do |retailer|%>
    <tr id="<%= dom_id retailer %>">
      <td width="200px"><%= link_to retailer.name, object_url(retailer) %></td>
      <td><%= retailer.retailer_type.nil? ? "n/a" : retailer.retailer_type.name %></td>
      <td><%= retailer.state %></td>
      <td><%= retailer.email %></td>
      <td><%= number_to_phone retailer.phone %></td>
      <td class="actions">
      	<%= link_to_edit retailer %> &nbsp;
      	<%= link_to_delete retailer %> &nbsp;
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection %>


<% content_for :sidebar do %>
<div class="box">
  <h3><%= t(:search) %></h3>

  <%= search_form_for [:admin, @search] do |f| %>
    <p>
      <label><%= t '.retailer_type_id_equals' %></label><br />
      <%= f.select :retailer_type_id_eq, Spree::RetailerType.to_options, { :include_blank => true, :selected => (params[:q][:retailer_type_id_eq] if params[:q]) } %>
    </p>
    <p>
      <label><%= t '.name_contains' %></label><br />
      <%= f.text_field :name_cont, :size => 25 %>
    </p>
    <p>
      <label><%= t '.email_contains' %></label><br />
      <%= f.text_field :email_cont, :size => 25 %>
    </p>
    <p>
      <label><%= t '.country_contains' %></label><br />
      <%= f.text_field :country_cont, :size => 25 %>
    </p>
    <p>
      <label><%= t '.state_contains' %></label><br />
      <%= f.text_field :state_cont, :size => 25 %>
    </p>
    <p><%= button t("search") %></p>
  <% end %>
</div>
<% end %>
