<h1>New Retailer</h1>

<%= render "spree/shared/error_messages", :target => @retailer %>

<%= form_for([ :admin, @retailer ], :html => { :multipart => true }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>

  <p class="form-buttons">
    <%= button t("create") %> <%= link_to t('cancel'), collection_url %>
  </p>
<% end %>
