<% if defined? retailer %>
  <div class="retailer">
    <p>
      <b><%= retailer.has_url? ? link_to(retailer.name, retailer.url, :class => 'popup') : retailer.name %></b><br/>
      <%= retailer.address %>
      
      <% if retailer.has_address2? %>
        <br/>
        <%= retailer.address2 %>
      <% end %>
      
      <br/>
      
      <%= retailer.city %>, 
      <%= retailer.state %> 
      <%= retailer.zipcode %> 
    
      <% if retailer.has_phone? %>
        <br/>
        <%= retailer.phone %>
      <% end %>
      
      <% if retailer.has_email? %>
        <br/>
        <%= mail_to retailer.email %>
      <% end %>
      
      <% if retailer.has_url? %>
        <br/>
        <%= link_to retailer.url, retailer.url, :class => 'popup' %>
      <% end %>
    </p>
  </div>
<% end %>